{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color:#45c1d2
    }
    table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
      font-size:15px;
      color: white;
      border-radius: 10px;
      font-weight: 300;
    }
    h5 {
        color: white;
    }
</style>
<nav class="navbar" style="background-color: #4babb8">
    <div class="container-fluid">
      <a class="navbar-brand" style="color:white">Navigate</a>
      <button><a href="{% url 'wishlist:logout' %}">Logout</a></button>
    </div>
  </nav>
<br>
<head>
    <h5>Nama: {{user}}</h5>
</head>
<br>
<body>
    <table>
        <tr>
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
        </tr>
        {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
        {% for barang in list_barang %}
            <tr>
                <th>{{barang.nama_barang}}</th>
                <th>{{barang.harga_barang}}</th>
                <th>{{barang.deskripsi}}</th>
            </tr>
        {% endfor %}
    </table>
    <br>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
</body>

{% endblock content %}